/*******/
/*main container*/

body{
	background-color: #CDCCCC;
}

.app{
	width: 320px;
	height: 100%;
}


/*******/
/*top bar that holds user info + stats*/
header {
	width: 100%;
	height: 35px;
	background-color: #CDCCCC;
	color: rgba(68,68,68,.85);
	top: 0;
	position: fixed;
	width: 320px;
	border-bottom: 1pt solid;
	border-color: #B5B5B5;
	z-index: 10;

}

#topInfoDisplay{
	width: 100%;
    margin: 0 auto;
    margin-top: 3px;
    margin-left: 5px;

}

.topInfoBox{
	display: inline-table;
	padding-left: 11px;
	padding-right: 11px;
	border-right: 1pt solid;
	border-color: #B5B5B5;
	
}

#photoOfUser {
	height: 25px;
	width: auto;
	background-color: none;
}

#nameOfUser {
	padding-left: 5px;
}

#myRewardsLogo{
	width: 28.8px;
	height: auto;
	padding-left: 5px;

}


#myCoinsLogo{
	width: 25px;
	height: auto;
	padding-left: 5px;
}

#settings{
	border-right: none !important;
	padding-right: 0;
}

#settingsLogo{
	width: 25px;
	height: auto;
}


/*******/
/*small blurb that describes this page*/
#pageDescriptionBox {
	width: 100%;
	height: 42.32px;
	background-color: #CDCCCC;
	font-size: 12pt;
	color: #2F5B33;
	margin-top: 35px;
}

#pageDescription {
	background-color: #E8E8E8;
	width: 310px;
	position: absolute;
	margin-top: 10px;
	padding: 9.5px 0;
	padding-left: 10px;
}


/*******/
/*rewards area (main container)*/
#rewardsContainer{
	font-size: 100%;
	width: 100%;
	height: 100%;
	background-color: #CDCCCC;
	color: #444444;
	text-align: center;
	overflow-y: auto;
	margin-top: 14.7px;

}

.oneReward {
	background-color: white;
	border-color: #5B5B5B;
	border:2.5pt solid;
	border-radius:8px;
	width: 289.44px;
	height: 72.8px;
	margin: 0 14.7px 14.7px 14.7px;
	display: table;
	
}

.oneRewardUsed {
	background-color: #DDDDDD;
}

.rewardsDivision{
	display: inline;

}
	
.oneReward > li {
	display: inline-table;
	border-right: 1pt solid;
	border-color: #CCCCCC;
	background-color: none;
	display: table-cell;
	vertical-align: middle;
}

.restaurantInfo{
	width: 130px;
}

.restaurantDistance{
	color: #000000;
	margin-top: 11px;
}

.rewardPrice{
	width: 71px;
}

.useBox{
	width: 75px;
	border-right: none !important;
}

.useButton{
	color: #20D320;

}

.usedBox{
	width: 75px;
	border-right: none !important;
}

.usedButton {
	color: #888;
}

.oneRewardUsed {
	border-color: #888;
	color: #888;
}

.restaurantDistance {
	color: #888;
}

/*******/
/*footer holds the navigation bar*/
footer {
	width: 320px ;
	height: 50px;
	background-color: #5B5B5B;
	position: fixed;
	bottom: 0;
	border-top: 2.5pt solid;
	border-color: #4F4C4F;
}


nav ul li{
	display: inline-table;
	float: left;
	border-right: 2pt solid;
	border-color: #4F4C4F;
}

#myCoinsButton {
	width: 98px;
	border-left: 2pt solid;
	border-color: #4F4C4F;
}

#myCoinsButtonImage{
	width: 37.5px;
	height: auto;
	margin: auto;
	display: block;
	padding-top: 6px;
	padding-bottom: 6px;
}

#scanButton{
	width: 115px;
}


#scanButtonImage{
	width: 37.5px;
	height: auto;
	display: block;
	margin: auto;	
	padding-bottom:12px;
	padding-top: 5px;
}

#scanButtonText {
	color: #EAEAEA;
	display: block;
	text-align: center;
	position: relative;
}

#myRewardsButton {
	width: 98px;
}

#myRewardsButtonImage{
	width: 45.3px;
	height: auto;
	margin: auto;
	display: block;
	padding-top: 6px;
	padding-bottom: 6px;
}

/*****/
/* coinAnimationContainer holds the +1 animation*/
#coinAnimationContainer{
	background-color: #4F4C4F;
	z-index: 40;
	width: 320px;
	height: 100%;
	position: fixed;
}
			
.cheese {
	width: 250px;
	height: auto;
	margin: 0 35px;
}


/*****/
/* giftcardContainer holds the giftcard screen for restaurant to scan*/

#giftcardContainer{
	/*background-color: #CDCCCC;*/
	background-color: none;
	z-index: 30;
	width: 320px;
	height: 100%;
	position: fixed;
}

#giftcard{
	background-color: #F4F4F4;
	width: 400px;
	height: 285px;
	border:5pt solid;
	border-radius:8px;
	border-color: #40AD31;
	color: #444;
	-webkit-transform: rotate(-90deg);
	margin-left: -45px;
	margin-top: 205px;
}

#giftcardExitButton{
	display:block;
	float: right;
	margin-top: -20px;
	margin-right: -20px;
	width: 45px;

}

#giftcardRestaurantName{
	font-family: 'oceaniabold';
	font-size: 25pt;
	text-transform:uppercase;
	padding-left: 30px;
	padding-top: 30px;
}

#giftcardAvailableCredit{
	font-family: 'oceaniamedium';
	font-size: 20pt;
	text-transform:uppercase;
	padding-left: 30px;
	padding-top: 20px;

}

#giftcardInstructionForAttendant{
	font-family: 'oceaniaregular';
	font-size: 10pt;
	color: black;
	padding-left: 30px;
	padding-top: 25px;
	padding-bottom: 20px;
}

#giftcardBarcodeImageAndNumberContainer{
	border-top: 1pt solid;
	border-color: #B5B5B5;
	margin: 0 2px;
}

#giftcardBarcodeImage{
	width: 300px;
	height: auto;
	padding-top: 20px;
	padding-left: 50px;
}

#giftcardBarcodeNumber{
	font-family: 'oceaniaregular';
	font-size: 11pt;
	color: black;
	letter-spacing: 10px;
	padding-top: 5px;
	padding-bottom: 18px;
	padding-left: 50px;

}


/*****/
/* modalContainer holds the modal window pop up screen*/

#modalContainer{
	background-color: none;
	z-index: 31;
	width: 320px;
	height: 500px;
	position: fixed;
}

#modal{
	background-color: #F4F4F4;
	width: 285px;
	height: 225px;
	border:5pt solid;
	border-radius:8px;
	border-color: yellow;
	color: #444;
	margin-left: 12px;
	text-align: center;
}

#modalTitle{
	font-family: 'oceaniabold';
	font-size: 19pt;
	text-transform:uppercase;
	padding-top: 30px;
}

#modalMessage{
	padding: 20px;
	line-height: 18pt;
}

#exitModalButton{
	margin-top: 10px;
	width: 260px;
	height: 40px;
	font-family: 'oceaniaregular';
	color: #444;
	font-size: 14pt;
}




